PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/task_flow_backend
NODE_ENV=development
JWT_SECRET=alfanumerico-generada-por-algun-comando-para-mayor-seguridad-en-produccion
JWT_EXPIRES_IN=1d